.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:5rem;
    /* text-align:center; */
    box-sizing: border-box;
}

.leftside{
    flex-basis: 50%;
}

.leftside button{
    width:20%;
    height:40px;
    cursor: pointer;
    border-radius: 4px;
}

